.services {
    color: white;
}

.submit {
    cursor: pointer;
    font-size: 18px;
    text-align: right;
    margin-top: 20px;
}

.submit a {
    text-decoration: none;
    color: var(--yellow);
    padding: 10px;
}

.title {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 40px;
}

.content .index {
    font-size: 38px;
    border-right: 1px solid white;
    padding:  10px 20px;
    width: 30px;
    min-width: 30px;
    text-align: center;
}

.content .index:last-child {
    border-bottom: none;
}

.content .text {
    font-size: 24px;
    padding: 19px 20px;
}

.content .row {
    display: flex;
    border-bottom: 1px solid white;
}

.content .row:last-child {
    border-bottom: none;
}

.content .service:last-child {
    border-bottom: none;
}

.content ul li {
    margin-bottom: 1.3rem;
}

.content ul li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1135px) {
    .content {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .title {
        margin-left: 20px;
    }
}