

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.title {
    font-size: var(--desktop-title);
    font-weight: 300;
    padding: 0;
    margin: 20px 0;
}

.serviceBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


@media screen and (max-width: 1135px) {
    .content {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .title {
        margin-left: 20px;
        font-size: var(--mobile-title);
    }

    .content .index {
        font-size: var(--mobile-title);
        padding:  20px;
    }

    .content .text {
        font-size: var(--mobile-text);
    }

    .submit {
        font-size: var(--mobile-text);
        text-align: center;
    }
}