.wrapper {
    display: flex;
    font-size: 18px;
    align-items: baseline;
    justify-content: space-between;
}

.textarea {
    flex-direction: column;
}

.textarea .input{
    background: white;
    border-radius: 25px;
    color: black;
    width: 400px;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
}

.input {
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: .3s;
    border-bottom: 1px solid transparent;
    color: white
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.82);
}

.input:focus {
    border-bottom: 1px solid #fff;
}