.wrapper {
    color: white;
}

.title {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

.index {
    font-size: 62px;
}

.row ul {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
    max-width: 30%;
}

.row ul li {
    margin-bottom: 10px;
}

.row ul li:last-child {
    margin-bottom: 0;
}

.row {
    border-top: 1px solid white;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.firstRow {
    justify-content: flex-start;
    margin-top: 30px;
}

.row:last-child {
    border-bottom: 1px solid white;
    justify-content: flex-end;
}