.wrapper {
    color: white;
}

.title {
    font-size: var(--desktop-title);
    font-weight: 500;
    margin: 0;
}

.index {
    font-size: 62px;
}

.row ul {
    margin-top: 10px;
    margin-left: 20px;
    font-size: var(--desktop-text);
    max-width: 30%;
}

.row ul li {
    margin-bottom: 10px;
}

.row ul li:last-child {
    margin-bottom: 0;
}

.row {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.firstRow {
    justify-content: flex-start;
    margin-top: 30px;
}
.lastRow {
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {
    .title {
        padding: 0 20px;
        font-size: var(--mobile-title);
    }
    .row {
        justify-content: start !important;
        padding: 20px 30px;
    }

    .row .index {
        min-width: 20px;
    }

    .row ul {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .row ul li {
        margin-bottom: 20px;
        font-size: var(--mobile-text
        );
    }
}