.header {
    top: 20px;
    position: sticky;
    background: var(--black);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 12px;
    margin: 20px 0;
    transition: .3s;
    border: 1px solid transparent;
    z-index: 100;
}

.header.border {
    border: 1px solid rgba(255, 255, 255, 0.37);
    background: #11121d6b;
}

.header.border:hover {
    border: 1px solid rgba(255, 255, 255, 0.746);
}

.header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
}

.header ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5%;
}

.header ul li a {
    transition: .5s;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.3rem;
}

.header ul li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background: var(--yellow);
    transition: .3s;
    margin-top: 5px;
    position: absolute;
}

.header ul li:hover a:after{
    width: 100%;
}
