.wrapper {
    border-radius: 25px;
    background: var(--yellow);
    padding: 40px 8px;
    padding-bottom: 8px;
}

.frame {
    padding: 20px 100px;
}

.formWrapper {
    display: grid;
    grid-template-areas: 
    'call title'
    'inputs textArea'
    'submit submit';
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.formWrapper .call,
.formWrapper .title {
    font-size: var(--desktop-subtitle);
    font-weight: 300;
}

.formWrapper .call {
    grid-area: call;
}

.formWrapper .title {
    grid-area: title;
}

.formWrapper .title span{
    color: var(--yellow)
}

.formWrapper .inputs {
    grid-area: inputs;
}

.formWrapper .textArea {
    grid-area: textArea;
    height: 100%;
}

.formWrapper .submit {
    text-align: right;
    grid-area: submit;
    color: var(--yellow);
    font-size: var(--desktop-text);
}


@media (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .formWrapper {
        display: grid;
        grid-template-areas:
            'call'
            'inputs'
            'title'
            'textArea'
            'submit';
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .textArea {
        min-height: 100px;
    }
    .frame {
        padding: 10px;
    }

    .frame.title,
    .title {
        font-size: var(--mobile-title);
        font-weight: 400;
        padding: 0 20px;
        margin: 0;
    }

    .frame.title {
        padding-bottom: 20px;
    }

        .formWrapper .textArea {
        padding: 0 20px;
    }

    .formWrapper .call {
        font-size: var(--mobile-subtitle);
        padding: 20px;
        margin: 0;
    }

    .formWrapper .inputs {
        padding: 0 20px;
    }

    .formWrapper .title {
        font-size: var(--mobile-subtitle);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .formWrapper .submit {
        font-size: var(--mobile-text);
        padding: 20px;
    }
}