.wrapper {
    border-radius: 25px;
    background: var(--yellow);
    padding: 40px 8px;
    padding-bottom: 8px;
}

.input {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--mobile-text);
    transition: .3s;
    outline: 2px solid transparent;
}

.input:focus {
    outline: 2px solid var(--yellow);
}

.frame {
    padding: 20px 100px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 2rem;
}

.left {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.submit {
    cursor: pointer;
    font-size: 18px;
    color: var(--yellow);
    text-align: right;
}

.title {
    font-size: 42px;
    font-weight: 500;
}

.aiTitle span {
    color: var(--yellow);
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: var(--mobile-title);
    }

    .content h2 {
        font-size: var(--mobile-subtitle);
        margin-bottom: 0;
    }

    .wrapper {
        padding: 40px 8px;
        padding-bottom: 8px;
    }
    .frame {
        padding: 20px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .submit {
        font-size: var(--mobile-text);
        text-align: center;
        margin-bottom: 20px;
    }

    .left {
        width: 100%;
    }

    .area {
        width: 330px;
    }

    .aiTitle {
        font-size: var(--mobile-subtitle)
    }

    .aiBlock {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

}