
.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        margin: 0 5%;
    }
}

@media screen and (min-width: 1724px) {
    .wrapper {
        margin: 0 10%;
    }
}