.wrapper {
    color: white;
}

.title {
    font-size: var(--desktop-title);
    font-weight: 500;
    margin: 0;
}

.card h2 {
    font-size: var(--desktop-subtitle);
    font-weight: 400;
    display: block;
    width: fit-content;
}

.card h2:after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background: var(--yellow);
    transition: .3s;
}

.card:hover h2:after {
    width: 100%;
}

.card p {
    font-size: var(--desktop-text);
    line-height: 140%;
    padding: 0;
    margin: 5px 0;
}

.subTitle {
    font-size: var(--desktop-text);
    line-height: 140%;
    margin-left: 5rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem
}

@media screen and (max-width: 1135px) {
    .content {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: var(--mobile-title);
        padding: 0 20px;
    }

    .subTitle {
        padding: 0;
        margin: 20px;
        font-size: var(--mobile-text);
    }

    .card h2 {
        margin-left: 20px;
        font-size: var(--mobile-subtitle);
    }

    .card p {
        font-size: var(--mobile-text);
    }
}