.firstPage {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas:
            'leadMagnet aiTitle'
            'title aiBlock'
            'footer footer';
    grid-row-gap: 80px;
}

.leadMagnet {
    grid-area: leadMagnet;
}

.leadMagnet div {
    border-radius: 25px;
    width: 100%;
    padding: 8px 0;
    border: 1px solid white;
}

.leadMagnet div p {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.aiTitle {
    grid-area: aiTitle;
}

.aiTitle h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 32px;
}

.aiTitle h2 span {
    color: var(--yellow);
}

.title {
    grid-area: title;
}


.title h1 {
    font-size: 4rem;
    font-weight: 500;
}

.aiBlock {
    grid-area: aiBlock;
}

.footer {
    grid-area: footer;
}

.footer p {
    font-size: 32px;
    line-height: 140%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .firstPage {
        grid-template-columns: 1fr;
        padding: 10px;
        grid-template-areas:
            'leadMagnet'
            'title'
            'aiTitle'
            'aiBlock'
            'footer';
        grid-row-gap: 10px;
    }

    .title h1 {
        font-size: var(--mobile-title);
        font-weight: 500;
    }

    .aiTitle {
        margin-bottom: 20px;
    }

    .aiTitle h2{
        font-size: var(--mobile-subtitle);
    }

    .aiBlock {
        width: 100%;
    }

    .footer p {
        font-size: var(--mobile-text);
    }

}