.firstPage {
    display: flex;
    flex-direction: column;
}

.leadMagnet {
    width: fit-content;
    padding: 0 100px;
    padding-top: 40px;
}

.leadMagnet div {
    border-radius: 25px;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid white;
}

.leadMagnet div p {
    font-size: var(--desktop-text);
    text-align: center;
    margin: 0;
}


.title {
    padding: 0 100px;
}


.title h1 {
    font-size: var(--desktop-title);
    font-weight: 500;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}


.footer {
    width: 60%;
    display: flex;
    padding: 0 100px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer p {
    font-size: var(--desktop-text);
    line-height: 140%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .leadMagnet {
        padding: 0;
        width: fit-content;
        align-self: center;
    }

    .title {
        margin: 0 auto;
        padding: 0;
    }

    .title h1 {
        font-size: var(--mobile-title);
        font-weight: 500;
    }

    .footer {
        padding: 0 30px;
        width: auto;
    }

    .footer p {
        font-size: var(--mobile-text);
    }

}