:root {
    /*---colors---*/
    --white: #FFFFFF;
    --black: #111D1C;
    --dark-green: #142423;
    --blue: #345E79;
    --blue-gradient: linear-gradient(119deg, #608287 15.97%, #466C7F 39.92%, #04366A 100%);
    --dark-gradient: linear-gradient(247deg, #111D1C 16.5%, #060D13 99.7%, #111D1C 99.71%);
    --yellow: #FBFF53;
    --red: #f21818;
    /*------------*/

    /*---size---*/
    --desktop-title: 54px;
    --desktop-subtitle: 32px;
    --desktop-text: 24px;

    --mobile-title: 28px;
    --mobile-subtitle: 20px;
    --mobile-text: 16px;
    /*----------*/
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-green);
    margin: 0;
    padding: 0;
}

